p {
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  color: black;
  background-color: gray;
  text-align: center;
  }

  #canvas{
    width:640px;
    margin:0 auto;
  }

  body {background-color: #101010; }