body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 20vh;
    flex-direction: column;
}

#canvas-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 20px;
    /* text-align: center; */
}

canvas {
    display: inline-block;
}

.quiz-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.quiz-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.quiz-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-button:hover {
    background-color: #0056b3;
}